# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Environments
.venv/
venv/
env/
ENV/

# local environment variables
.env

# Data and vector database indices
data/raw/*
data/processed/*

# IDE configs
.vscode/
.idea/
.gemini/
antigravity-ide/
